<link rel="stylesheet" href="../css/contacts.css" />

<section class="contacts">
  <div class="container">
    <h2 class="contacts-heading">Fresh harvest box has got you covered</h2>
    <div class="contacts-images">
      <img srcset="" src="" alt="A melon with a quarter cut out" />
      <img srcset="" scr="" alt="Blueberries closeup" />
    </div>
    <div class="contacts-form">
      <p class="contacts-paragraph">
        Our boxes are packed with delicious, nutritious fruits and vegetables,
        perfect for anyone looking to eat healthier or support local farmers.
        Order your box today and start enjoying the best that nature has to
        offer!
      </p>
      <form class="email-form">
        <input
          class="email-input"
          type="email"
          placeholder="Enter email"
        /><button class="contacts-btn" type="submit">
          <text class="btn-text">send</text>
        </button>
      </form>
    </div>
  </div>
</section>
