<link rel="stylesheet" href="../css/contacts.css" />

<section class="contacts">
  <div class="container">
    <h2 class="contacts-heading">
      Fresh harvest box has <br />
      got you covered
    </h2>
    <div class="contacts-images">
      <img
        class="melon-image"
        srcset="
          ../images/melon-desktop.png   1x,
          ..images/melon-desktop@2x.png 2x
        "
        src="./images/melon-desktop.png"
        alt="A melon with a quarter cut out"
      />
      <img
        class="blueberries-image"
        srcset="
          ../images/blueberries-desktop.png    1x,
          ../images/blueberries-dekstop@2x.png 2x
        "
        scr="../images/blueberries-desktop.png"
        alt="Blueberries closeup"
      />
    </div>
    <div class="contacts-form">
      <p class="contacts-paragraph">
        Our boxes are packed with delicious, nutritious fruits and vegetables,
        perfect for anyone looking to eat healthier or support local farmers.
        Order your box today and start enjoying the best that nature has to
        offer!
      </p>
      <form class="email-form">
        <input
          class="email-input"
          type="email"
          name="email"
          placeholder="Enter email"
        /><button class="contacts-btn" type="submit">
          <text class="btn-text">send</text>
        </button>
      </form>
    </div>
  </div>
</section>
