<!-- I think the links below might need to be removed from this section once this html is included in the public one -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100..1000&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/modern-normalize@2.0.0/modern-normalize.min.css"
/>
<link rel="stylesheet" href="../css/styles.css" />
<link rel="stylesheet" href="../css/contacts.css" />

<section class="contacts">
  <div class="container">
    <div class="heading-and-images">
      <h2 class="contacts-heading">
        Fresh harvest box has <br />
        got you covered
      </h2>
      <div class="contacts-images">
        <img
          class="melon-image"
          srcset="
            ../images/melon-desktop.png   1x,
            ..images/melon-desktop@2x.png 2x
          "
          src="./images/melon-desktop.png"
          alt="A melon with a quarter cut out"
        />
        <img
          class="blueberries-image"
          srcset="
            ../images/blueberries-desktop.png    1x,
            ../images/blueberries-dekstop@2x.png 2x
          "
          scr="../images/blueberries-desktop.png"
          alt="Blueberries closeup"
        />
      </div>
    </div>
    <div class="contacts-form">
      <p class="contacts-paragraph">
        Our boxes are packed with delicious, nutritious fruits and vegetables,
        perfect for anyone looking to eat healthier or support local farmers.
        Order your box today and start enjoying the best that nature has to
        offer!
      </p>
      <form class="email-form">
        <input
          class="email-input"
          type="email"
          name="email"
          placeholder="Enter email"
        /><button class="contacts-btn" type="submit">
          <text class="btn-text">send</text>
        </button>
      </form>
    </div>
  </div>
</section>
