<section class="fruits">
  <div class="organic">
    <h2>ORGANIC FRUITS</h2>
    <p>Our organic fruits are hand-picked from local farms and delivered straight to your doorstep, 
       ensuring that you get the freshest and most nutritious produce possible.
       We offer a wide selection of organic fruits grown without the use of harmful pesticides or chemicals.</p>
       <ul class="list_fuits">
        <li>strawberry</li>
        <li>banana</li>
        <li>watermelon</li>
        <li>lime</li>
        <li>apple</li>
        <li>peach</li>
        <li>plums</li>
        <li>orange</li>
        <li>kiwi</li>
       </ul>
    </div>  
</section>