<section class="fruits">
    <div class="container"> 
  <div class="organic">
    <h2>ORGANIC FRUITS</h2>
    <p>
      Our organic fruits are hand-picked from local farms and delivered straight
      to your doorstep, ensuring that you get the freshest and most nutritious
      produce possible. We offer a wide selection of organic fruits grown
      without the use of harmful pesticides or chemicals.
    </p>
  </div>
    
       <ul class="list_fruits">
        <li>
            <div class="strawberry box">
                <h3>Strawberry</h3>
                <p class="plant">Plant</p>
                <img class="fruit"
                src="./images/strawberry.png"
                srcset="./images/strawberry.png 1x, 
                ./images/strawberry@2x.png 2x"
                alt="strawberry"/>
                <div class="white_box">
                    <p class="price">100 UAH / kg</p>
                </div>
            </div>
        </li>
        <li>
            <div class="banana box">
                <h3>Banana</h3>
                <p class="plant">Plant</p>
                <img class="fruit"
                src="./images/banana.png"
                srcset="./images/banana.png 1x, ./images/banana@2x.png 2x"
                alt="banana"/>
                <div class="white_box">
                    <p class="price">80 UAH / kg</p>
                </div>
            </div>
        </li>
        <li>
            <div class="watermelon box">
                <h3>Watermelon</h3>
                <p class="plant">Plant</p>
                <img class="fruit"
                src="./images/watermelon.png"
                srcset="./images/watermelon.png 1x, ./images/watermelon@2x.png 2x"
                alt="watermelon"/>
                <div class="white_box">
                    <p class="price">40 UAH / kg</p>
                </div>
            </div>
        </li>
        <li> 
            <div class="lime box">
                <h3>Lime</h3>
                <p class="plant">Plant</p>
                <img class="fruit"
                src="./images/lime.png"
                srcset="./images/lime.png 1x, ./images/lime@2x.png 2x"
                alt="lime"/>
                <div class="white_box">
                    <p class="price">60 UAH / kg</p>
                </div>
            </div>
        </li>
        <li> 
            <div class="apple box">
                <h3>Apple</h3>
                <p class="plant">Plant</p>
                <img class="fruit"
                src="./images/apple.png"
                srcset="./images/apple.png 1x, ./images/apple@2x.png 2x"
                alt="apple"/>
                <div class="white_box">
                    <p class="price">50 UAH / kg</p>
                </div>
            </div>
        </li>
        <li>
            <div class="peach box">
                <h3>Peach</h3>
                <p class="plant">Plant</p>
                <img class="fruit"
                src="./images/peach.png"
                srcset="./images/peach.png 1x, ./images/peach@2x.png 2x"
                alt="peach"/>
                <div class="white_box">
                    <p class="price">80 UAH / kg</p>
                </div>
            </div>
        </li>
        <li>
            <div class="plums box">
                <h3>Plums</h3>
                <p class="plant">Plant</p>
                <img class="fruit"
                src="./images/plums.png"
                srcset="./images/plums.png 1x, ./images/plums@2x.png 2x"
                alt="plums"/>
                <div class="white_box">
                    <p class="price">40 UAH / kg</p>
                </div>
            </div>
        </li>
        <li>
            <div class="orange box">
                <h3>Orange</h3>
                <p class="plant">Plant</p>
                <img class="fruit"
                src="./images/orange.png"
                srcset="./images/orange.png 1x, ./images/orange@2x.png 2x"
                alt="orange"/>
                <div class="white_box">
                    <p class="price">60 UAH / kg</p>
                </div>
            </div>
        </li>
        <li>
            <div class="kiwi box">
                <h3>Kiwi</h3>
                <p class="plant">Plant</p>
                <img class="fruit"
                src="./images/kiwi.png"
                srcset="./images/kiwi.png 1x, ./images/kiwi@2x.png 2x"
                alt="kiwi"/>
                <div class="white_box">
                    <p class="price">90 UAH / kg</p>
                </div>
            </div>
        </li>
       </ul>
       <button class="fruit_btn" id="icon-arrow">
        <svg width="14" height="14" class="arrow-button-svg">
            <use href="./images/icons.svg#icon-arrow"><p class="text_btn">ORDER</p></use>
            
        </svg>
    </button>
    </div>
</section>

