<header class="header">
  <div class="container">
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="./howitworks.html" class="nav-link">How It Works</a>
        </li>
        <li class="nav-item">
          <a href="./fruits.html" class="nav-link">Fruits</a>
        </li>
        <li class="nav-item">
          <a href="./contacts.html" class="nav-link">Contacts</a>
        </li>
      </ul>
    </nav>
    <div class="header-logo">
      <svg class="logo-icon" width="16" height="16">
        <use href="./images/icons.svg#icon-cube"></use>
      </svg>
      <p class="logo-text">Fresh harvest box</p>
    </div>
    <button class="btn menu">
      <svg class="menu-icon" width="24" height="24">
        <use href="./images/icons.svg#icon-hamburger"></use>
      </svg>
    </button>
    <button class="btn basket">
      <svg class="basket-icon" width="19" height="23">
        <use href="./images/icons.svg#icon-basket"></use>
      </svg>
    </button>
  </div>
</header>
