<link rel="stylesheet" href="../css/header.css" />

<header class="header">
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="./page-2.html" class="nav-link">How It Works</a>
      </li>

      <li class="nav-item">
        <a href="./fruits.html" class="nav-link">Fruits</a>
      </li>
      <li class="nav-item">
        <a href="./contacts.html" class="nav-link">Contacts</a>
      </li>
    </ul>
  </nav>
  <div class="logo">
    <svg class="logo-icon" width="16" height="16">
      <use href="../images/icons.svg#icon-cube"></use>
    </svg>
    <p class="logo-text">Fresh harvest box</p>
  </div>
  <p>test 1</p>
  <button class="btn menu">
    <svg class="menu-icon" width="24" height="24">
      <use href="../images/icons.svg#icon-Facebook"></use>
    </svg>
  </button>
  <p>test 2</p>
  <button class="btn basket">
    <svg class="basket-icon" width="19" height="23">
      <use href="../images/icons.svg#icon-basket"></use>
    </svg>
  </button>
  <p>test 3</p>
</header>
