<section class="hero">
  <div class="container">
    <div class="hero-central">
      <img
        class="hero-img"
        srcset="./images/hero-img.png 1x, ./images/hero-img@2x.png 2x"
        src="./images/hero-img.png"
        alt="young energetic red haired woman white t-shirt holding tasty oranges pink background"
      /><button class="modal-btn" type="button">Shop<br />now</button>
    </div>
    <div class="hero-text">
      <h1 class="main-header">
        fresh harvest box<br />is your one-stop place for a delicious fruit
        basket
      </h1>
      <img
        class="hero-img-right"
        srcset="./images/strawberries.png 1x, ./images/strawberries@2x.png 2x"
        src="./images/strawberries.png"
        alt="three strawberries"
      />
      <img
        class="hero-img-left"
        srcset="./images/bananas.png 1x, ./images/bananas@2x.png 2x"
        src="./images/bananas.png"
        alt="four bananas"
      />
    </div>
    <div class="hero-card-left">
      <p class="hero-card-text">
        Our expertly curated fruit baskets are made with the freshest, highest
        quality fruits available. Whether you are looking for a healthy snack or
        a gift for a loved one, Fresh Harvest Box has got you covered.
      </p>
      <div class="card-left">
        <p class="card-left-header">Fruit</p>
        <img
          class="card-left-img"
          srcset="./images/watermelon.png 1x, ./images/watermelon@2x.png 2x"
          src="./images/watermelon.png"
          alt="tropical watermelon"
        />
        <p class="card-left-text">
          Refreshing and juicy, watermelon is the perfect summer treat and a
          great source of hydration
        </p>
      </div>
    </div>
    <div class="hero-card-right">
      <div class="card-right">
        <p class="card-right-header">Fruit</p>
        <img
          class="card-right-img"
          srcset="
            ./images/strawberry-basket.png    1x,
            ./images/strawberry-basket@2x.png 2x
          "
          src="./images/strawberry-basket.png"
          alt="strawberry basket"
        />
        <p class="card-right-text">
          Sweet and juicy, strawberries are packed with vitamin C and
          antioxidants, making them a delicious and healthy snack
        </p>
      </div>
      <ul class="card-list">
        <li class="card-list-org">
          <h3 class="card-text">#organic</h3>
        </li>
        <li class="card-list-pro">
          <h3 class="card-text">#products</h3>
        </li>
        <li class="card-list-bas">
          <h3 class="card-text">#basket</h3>
        </li>
        <li class="card-list-fru">
          <h3 class="card-text">#fruits</h3>
        </li>
      </ul>
    </div>
  </div>
</section>
