    <section>
      <div class="container">
        <h2 class="next-heading">
          To order your fruit basket, simply follow these easy steps
        </h2>
        <p class="fruit-paragraph">
          Our baskets are assembled with care and delivered straight to your
          doorstep, so you can enjoy the taste of fresh fruit without ever
          leaving your home. Whether you're looking for a healthy snack or a
          thoughtful gift, our fruit baskets are the perfect choice.
        </p>

        <ul class="second-container">
          <div class="next-container">
            <li class="list">
              <div class="first-step">
                <h3 class="header">First Step</h3>

                <p class="play">
                  Just choose the fruit you want to order by clicking on the
                  checkboxes next to it.
                </p>
              </div>
            </li>
            <li class="list">
              <div class="second-step">
                <h3 class="header">Second Step</h3>

                <p class="play">Click on the basket and fill out the form.</p>
              </div>
            </li>
            <li class="list">
              <div class="third-step">
                <h3 class="header">Third Step</h3>
                <p class="play">
                  Sit back and relax! Your fresh fruit basket will be delivered.
                </p>
              </div>
            </li>
          </div>
        </ul>

        <div class="picture-container">
          <img
            class="picture"
            src="../img/bluebarries.gif"
            alt="fresh fruit like
    blaeberries"
            width="335px"
            height="476px"
          />
        </div>
      </div>
    </section>
  </body>
</html>
