    <section class="section-one">
      <div class="howitworks-container">
        <h2 class="next-heading">
          To order your fruit basket, simply follow these easy steps
        </h2>
        <p class="order">
          Our baskets are assembled with care and delivered straight to your
          doorstep, so you can enjoy the taste of fresh fruit without ever
          leaving your home. Whether you're looking for a healthy snack or a
          thoughtful gift, our fruit baskets are the perfect choice.
        </p>
        <div class="round">
          <ul class="next-container">
            <li class="list">
              <div class="first-step">
                <p class="play">First Step</p>
                <p class="step">
                  Just choose the fruit you want to order by clicking on the
                  checkboxes next to it.
                </p>
              </div>
            </li>
            <li class="list">
              <div class="second-step">
                <p class="play">Second Step</p>
                <p class="step">Click on the basket and fill out the form.</p>
              </div>
            </li>
            <li class="list">
              <div class="third-step">
                <p class="play">Third Step</p>
                <p class="step">
                  Sit back and relax! Your fresh fruit basket will be delivered.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="picture">
        <img
          class="gif"
          width="860"
          height="476"
          src="./images/new-bluebarries.gif"
          alt="moving image of different fruits"
        />
      </div>
    </section>
