<link rel="stylesheet" href="../css/modal.css">

<div class="modal-window">
    <!--Your Order and Button-->
    <div class="modal-top-div">
    <p class="modal-paragraph">
        Your Order
    </p>

    <button class="modal-close-button">
        <svg width="24" height="24" class="modal-close-button-svg">
            <use href="../images/icons.svg#icon-x"></use>
        </svg>
    </button>
    </div>

    <!--Cards-->
    <div class="modal-cards-div">
        <!--First card-->
        <div class="modal-card">
            <label class="modal-card-label">
                Strawberry Basket
            </label>

            <p class="plant-paragraph">
                Plant
            </p>

            <img 
            srcset="../images/strawberry-basket.png x1, ../images/strawberry-basket@2x.png x2"
            src="../images/strawberry-basket.png" 
            alt="Basket of strawberries" 
            class="fruit-image"
            width="88"
            height="95">

            <input type="checkbox" name="" id="" class="card-checkbox">
        </div>

        <!--Second card-->
        <div class="modal-card">
            <label class="modal-card-label">
                Apple Basket
            </label>

            <p class="plant-paragraph">
                Plant
            </p>

            <img 
            srcset="../images/apple-basket.png x1, ../images/apple-basket@2x.png x2"
            src="../images/apple-basket.png" 
            alt="Basket of apples" 
            class="fruit-image"
            width="88"
            height="95">

            <input type="checkbox" name="" id="" class="card-checkbox">
        </div>

        <!--Third card-->
        <div class="modal-card">
            <label class="modal-card-label">
                Fruits Basket
            </label>

            <p class="plant-paragraph">
                Plant
            </p>

            <img
            srcset="../images/fruits-basket.png x1, ../images/fruits-basket.png x2" 
            src="../images/fruits-basket.png" 
            alt="Basket of different fruits" 
            class="fruit-image"
            width="88"
            height="95">

            <input type="checkbox" name="" id="" class="card-checkbox">
        </div>
    </div>

    <!--Form-->
    <form>
        <!--Name Input-->
        <div class="modal-input-div">
            <input type="text" name="input-name" id="input-name" class="modal-input" placeholder="Enter full name...">
        </div>

        <!--Email Input-->
        <div class="modal-input-div">
            <input type="text" name="input-email" id="input-email" class="modal-input" placeholder="Enter email...">
        </div>

        <!--Card Input-->
        <div class="modal-input-div">
            <input type="text" name="input-card" id="input-card" class="modal-input" placeholder="Enter card..">
        </div>

        <!--TextArea-->
        <div class="modal-textarea-div">
            <textarea name="modal-textarea" id="modal-textarea" placeholder="Enter comments..." class="modal-textarea"></textarea>
        </div>

        <!--Submit Button-->
        <button type="submit" class="modal-sumbit-button">
            Submit
        </button>
    </form>

</div>

