* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: #ae1332;
  width: 1280px;
}
.contacts .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.heading-and-images {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 89px;
}
.contacts-heading {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 64px; /* 100% */
  letter-spacing: -1.28px;
  position: absolute;
  translate: 0 -85px;
}
.contacts-images {
  margin-bottom: 80px;
  display: flex;
  gap: 24px;
}

.contacts-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  padding-bottom: 150px;
}
.contacts-paragraph {
  width: 492px;
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.56px;
}
.email-form {
  display: inline-flex;
  align-items: center;
  position: relative;
}
.contacts-btn {
  padding: 15px 35px;
  border-radius: 100px;
  background-color: #9dc162;
  border: none;
  height: 50px;
  position: absolute;
  right: 0;
  cursor: pointer;
}
.contacts-btn:hover {
  background-color: #aade57;
}
.btn-text {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.56px;
  text-transform: capitalize;
}

.email-input {
  font-family: inherit;
  width: 292px;
  height: 48px;
  border-radius: 100px;
  background-color: transparent;
  border: 1px solid #fff;
  opacity: 0.3;
  flex-shrink: 0;
  padding-left: 20px;
  color: #fff;
}

input::placeholder {
  font-family: inherit;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.56px;
}
input:focus,
input:active {
  border: 2px solid #fff;
}
input:invalid {
  outline: 3px solid red;
  border: none;
}
