body {
	background-color: #ae1332;
}

.box {
	width: 389px;
	height: 465px;
	border-radius: 20px;
	background-color: #f8766b;
	position: relative;
}

.strawberry {
	background-color: #f8766b;
}

.banana {
	background-color: #edd251;
}

.watermelon {
	background-color: #9dc262;
}

.lime {
	background-color: #bfd663;
}

.apple {
	background-color: #e93f29;
}

.peach {
	background-color: #db4f4b;
}

.plums {
	background-color: #9b5366;
}

.orange {
	background-color: #f47f4c;
}

.kiwi {
	background-color: #98b37e;
}

h3 {
	width: 163px;
	height: 38px;
	top: 64px;
	left: 24px;
	font-family: DM Sans;
	font-size: 32px;
	font-weight: 700;
	line-height: 38px;
	letter-spacing: -0.04em;
	text-align: left;
	position: relative;
	color: #ffffff;
}

.white_box {
	display: flex;
	width: 136px;
	height: 48px;
	top: 393px;
	left: 24px;
	gap: 10px;
	border-radius: 200px;
	position: absolute;
	background-color: #ffffff;
}

.price {
	margin: 12px 21px;
	width: 94px;
	height: 24px;
	font-family: DM Sans;
	font-size: 18px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: -0.04em;
	color: #ae1332;
}

.plant {
	width: 40px;
	height: 24px;
	top: 109px;
	left: 24px;
	position: absolute;
	font-family: DM Sans;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: -0.02em;
	text-align: left;
	color: #ffffff;
	margin-bottom: 0;
	margin-top: 0;
}

.fruit {
	position: absolute;
	top: 137px;
	left: 47px;
	width: 295px;
	height: 252px;
}

.list_fruits > li {
	list-style-type: none;
}

.organic {
	width: 624px;
	gap: 14px;
	color: #ffffff;
	justify-content: center;
	flex-wrap: wrap;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-left: 328px;
	margin-right: 328px;
	text-align: center;
}

.list_fruits {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 1215px;
	height: 1443px;
	gap: 24px;
	margin: 44px auto;
	padding: 0;
	top: 156px;
	left: 32px;
}

.fruits {
	width: 1216px;
	height: 1599px;
	margin: auto;
}

h2 {
	display: flex;
	align-items: center;
	justify-content: center;
}

/*mobile min-width 375px and max-width 767px*/
@media screen and (min-width: 375px) and (max-width: 767px) {
	.list_fruits > li {
		list-style-type: none;
	}

	.list_fruits {
		display: flex;
		max-width: 335px;
		left: 20px;
		flex-wrap: wrap;
		align-items: center;
		position: absolute;
	}

	.plums,
	.orange,
	.kiwi {
		display: none;
	}

	.fruits {
		max-width: 335px;
		margin: 0 20px;
		display: flex;
	}
	.organic {
		display: flex;
		max-width: 335px;
		margin: 0;
		text-align: center;
		left: 20px;
		align-items: center;
		position: absolute;
	}

	.box {
		max-width: 335px;
	}

	.fruit {
		left: 20px;
		top: 122px;
	}

	h2 {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
	.list_fruits {
		list-style-type: none;
	}

	.kiwi {
		display: none;
	}

	.organic {
		display: flex;
		max-width: 624px;
		text-align: center;
		margin: 0 72px;
		align-items: center;
		gap: 14px;
	}

	.list_fruits {
		display: flex;
		max-width: 768px;
		left: 32px;
		flex-wrap: wrap;
		align-items: center;
		margin: auto;
		
	}

	.box {
		width: 344px;
	}

	.fruit {
		left: 25px;
		top: 137px;
		margin: auto;
		max-width: 768px;
	}

	.fruits {
		max-width: 768px;
	}
}
