.container {
  display: flex;
  margin: 0 auto;
  gap: 155px;
}

/* Mobile */

.nav {
  display: none;
}

.header {
  height: 50px;
  padding: 16px 0;
  display: flex;
  justify-items: center;
  background-color: var(--white);
  }

.btn.menu {
  background-color: var(--white);
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-text {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-align: center;
  color: var(--red);
}

.btn.basket {
  display: none;
}

/* Tablet */

@media screen and (min-width: 768px) {

  .container {
    gap: 0px;
  }

  .nav {
    display: flex;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    text-decoration: none;
  }

  .nav-link {
    font-family: DM Sans, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.04em;
    text-align: center;
    color: var(--red);
    text-decoration: none;
  }

  .header-logo {
    margin-left: 94px;
    margin-right: 226px;
  }

  .btn.menu {
    display: none;
  }
  
  .btn.basket {
    display: flex;
    background-color: var(--white);
  }
}

/* Desktop */

@media screen and (min-width: 1280px) {

.header-logo {
  margin-left: 322px;
  margin-right: 502px;
}

}
