/* ==PROJECT-Fresh-Harvest-Box===  */

/*========COMPONENTS========*/

.container {
    width: 1216px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}

.modal-btn {
    font-family: DM Sans;
    font-weight: 500;
    font-size: 28px;
    line-height: 1.0;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #AE1332;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
    transform: rotate(-14deg);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    min-width: 114px;
    height: 114px;
    border-radius: 50%;
    margin-top: -99px;
    margin-left: 186px;

}

.modal-btn a {
    text-decoration: none;
}

.modal-btn:hover,
.modal-btn:focus {
    color: #A4CB66;
}

/*========END-COMPONENTS========*/

/*========HERO========*/


.hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
    max-width: 1440px;
    height: 1097px;
    background-color: #AE1332;
}

.hero-text {
    margin-top: -784px;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
}

.hero-img-right {
    position: absolute;
    margin-top: -30px;
    margin-right: 10px;
    z-index: 1;
}

.hero-img-left {
    position: absolute;
    margin-top: 120px;
    margin-right: 650px;
    z-index: 1;
}

.main-header {
    font-size: 64px;
    font-weight: 500;
    line-height: 1.0;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    z-index: 2;
}

.hero-central {
    margin-top: 102px;
}

/* .hero-central:before 
{
    content: "";
    position: absolute;
    top: -17px;
    left: -17px;
    width: calc(100% + 34px);
    height: calc(100% + 34px);
    border-radius: 571px;
    box-sizing: border-box;
    border: 1px solid transparent;
    background: linear-gradient(to top, white, rgba(255, 255, 255, 0));
    -webkit-mask:
        linear-gradient(white, white) content-box,
        linear-gradient(white, white);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
} */

.hero-img {
    position: relative;
    padding: 20px 17px 20px 17px;
    border: 1px solid white;
    border-radius: 250px;
}

.hero-card-left {
    width: 249px;
    height: 539px;
    margin-right: 864px;
    margin-top: 146px;
}

.hero-card-text {
    font-family: DM Sans;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    max-width: 222px;
    margin-bottom: 44px;
}

.card-left {
    width: 249px;
    height: 387px;
    background-color: #A4CB66;
    border-radius: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.card-left-header {
    font-family: DM Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}


.card-left-text {
    font-family: DM Sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    max-width: 155px;
}

.hero-card-right {
    width: 249px;
    height: 539px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 864px;
    margin-top: -600px;
}

.card-right {
    width: 249px;
    height: 387px;
    background-color: #F5CE13;
    ;
    border-radius: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 44px;
}

.card-right-header {
    font-family: DM Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}

.card-right-text {
    font-family: DM Sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    max-width: 155px;
}

.card-list {
    width: 266px;
    height: 84px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: flex-end;
}

.card-text {
    font-family: DM Sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: -0.04em;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    box-shadow: 0px 4px 70px 0px #0000001A;

}

.card-list-org {
    width: 125px;
    height: 38px;
    padding: 12px 32px 12px 32px;
    border-radius: 19px;
    border: 1px solid #FFFFFF;
}

.card-list-pro {
    width: 133px;
    height: 38px;
    padding: 12px 32px 12px 32px;
    border-radius: 19px;
    border: 1px solid #FFFFFF;
}

.card-list-bas {
    width: 115px;
    height: 38px;
    padding: 12px 32px 12px 32px;
    border-radius: 19px;
    border: 1px solid #FFFFFF;
}

.card-list-fru {
    width: 110px;
    height: 38px;
    padding: 12px 32px 12px 32px;
    border-radius: 19px;
    border: 1px solid #FFFFFF;
}

/*========END-HERO========*/
/*  */


/* == END-PROJECT-Fresh-Harvest-Box===  */