/* ==PROJECT-Fresh-Harvest-Box===  */

/*========COMPONENTS========*/

@media (min-width: 1280px) {

    .container {
        width: 1280px;
        margin: 0 auto;
        padding: 0 32px 0 32px;
    }

    .modal-btn {
        font-weight: 500;
        font-size: 28px;
        line-height: 1.0;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        color: #AE1332;
        background-color: #FFFFFF;
        border: none;
        cursor: pointer;
        transform: rotate(-14deg);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        min-width: 114px;
        height: 114px;
        border-radius: 50%;
        margin-top: -69px;
        margin-left: 173px;
    }

    .modal-btn a {
        text-decoration: none;
    }

    .modal-btn:hover,
    .modal-btn:focus {
        color: #A4CB66;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {

    .container {
        width: 768px;
        margin: 0 auto;
        padding: 0 32px 0 32px;
    }

    .modal-btn {
        font-weight: 500;
        font-size: 28px;
        line-height: 1.0;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        color: #AE1332;
        background-color: #FFFFFF;
        border: none;
        cursor: pointer;
        transform: rotate(-14deg);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        min-width: 114px;
        height: 114px;
        border-radius: 50%;
        margin-top: -69px;
        margin-left: 176px;

    }

    .modal-btn a {
        text-decoration: none;
    }

    .modal-btn:hover,
    .modal-btn:focus {
        color: #A4CB66;
    }
}

@media (max-width: 767px) {

    .container {
        width: 375px;
        margin: 0 auto;
        padding: 0 32px 0 32px;
    }

    .modal-btn {
        /* font-family: DM Sans; */
        font-weight: 500;
        font-size: 20px;
        line-height: 1.0;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        color: #AE1332;
        background-color: #FFFFFF;
        border: none;
        cursor: pointer;
        transform: rotate(-14deg);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        /* position: absolute; */
        min-width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-top: -56px;
        margin-left: 119px;
    }

    .modal-btn a {
        text-decoration: none;
    }

    .modal-btn:hover,
    .modal-btn:focus {
        color: #A4CB66;
    }
}



/*========END-COMPONENTS========*/

/*========HERO========*/


@media (max-width: 767px) {

    .hero .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-text {

        margin-top: -576px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        /* position: relative; */
    }

    .hero-img-right {
        width: 56px;
        height: 56px;
        /* position: absolute; */
        margin-top: -120px;
        margin-left: 280px;
        z-index: 1;
    }

    .hero-img-left {
        width: 66px;
        height: 44px;
        /* position: absolute; */
        margin-top: 6px;
        margin-right: 275px;
        z-index: 1;
        transform: rotate(15deg);
    }

    .main-header {
        max-width: 335px;
        font-size: 28px;
        font-weight: 500;
        line-height: 1.0;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        text-align: center;
        color: #FFFFFF;
        /* position: relative; */
        z-index: 2;
    }

    .hero-central {
        margin-top: 105px;
        position: relative;
        display: flex;
        flex-wrap: wrap;
    }

    .hero-central:before {
        content: "";
        position: absolute;
        top: 0px;
        left: -1px;
        width: calc(100% + 2px);
        height: calc(100% + -25px);
        border-radius: 571px;
        box-sizing: border-box;
        border: 1px solid transparent;
        background: linear-gradient(to top, white, rgba(255, 255, 255, 0));
        -webkit-mask:
            linear-gradient(white, white) content-box,
            linear-gradient(white, white);
        -webkit-mask-composite: destination-out;
        mask-composite: exclude;
    }

    .hero-img {
        width: 335px;
        height: 509px;
        /* position: relative; */
        padding: 11px 12px 14px 12px;
        /* border: 1px solid white; */
        /* border-radius: 250px; */
    }

    .hero-card-left {
        width: 279px;
        height: 387px;
        margin-right: 0px;
        margin-top: 511px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    .hero-card-text {
        font-family: DM Sans;
        font-size: 14px;
        line-height: 1.28;
        letter-spacing: -0.04em;
        color: #FFFFFF;
        max-width: 222px;
        margin-bottom: 44px;
        max-width: 279px;
    }

    .card-left {
        width: 249px;
        height: 387px;
        background-color: #A4CB66;
        border-radius: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .card-left-header {
        font-family: DM Sans;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: -0.04em;
        color: #FFFFFF;
    }

    .card-left-img {
        width: 200px;
        height: 172px;
    }


    .card-left-text {
        font-family: DM Sans;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.17;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        text-align: center;
        color: #FFFFFF;
        max-width: 155px;
    }

    .hero-card-right {
        width: 281px;
        height: 539px;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: space-between;
        align-items: center;
        margin-left: 0px;
        margin-top: 170px;
    }

    .card-right {
        width: 249px;
        height: 387px;
        background-color: #F5CE13;
        border-radius: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        /* margin-bottom: 44px; */
        margin-top: 44px;
    }

    .card-right-header {
        font-family: DM Sans;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: -0.04em;
        color: #FFFFFF;
    }

    .card-right-img {
        width: 162px;
        height: 185px;
    }

    .card-right-text {
        font-family: DM Sans;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.17;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        text-align: center;
        color: #FFFFFF;
        max-width: 165px;
    }

    .card-list {
        width: 266px;
        height: 84px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 8px;
        justify-content: flex-end;
    }

    .card-text {
        font-family: DM Sans;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.7;
        letter-spacing: -0.04em;
        text-align: center;
        color: #FFFFFF;
        text-transform: uppercase;
        box-shadow: 0px 4px 70px 0px #0000001A;

    }

    .card-list-org {
        width: 125px;
        height: 38px;
        padding: 12px 32px 12px 32px;
        border-radius: 19px;
        border: 1px solid #FFFFFF;
    }

    .card-list-pro {
        width: 132px;
        height: 38px;
        padding: 12px 32px 12px 32px;
        border-radius: 19px;
        border: 1px solid #FFFFFF;
    }

    .card-list-bas {
        width: 125px;
        height: 38px;
        padding: 12px 32px 12px 32px;
        border-radius: 19px;
        border: 1px solid #FFFFFF;
    }

    .card-list-fru {
        width: 130px;
        height: 38px;
        padding: 12px 32px 12px 32px;
        border-radius: 19px;
        border: 1px solid #FFFFFF;
    }

}

@media (min-width: 768px) and (max-width: 1279px) {


    .hero .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-text {
        margin-top: -784px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }

    .hero-img-right {
        width: 108px;
        height: 108px;
        margin-top: -175px;
        margin-left: 550px;
        z-index: 1;
    }

    .hero-img-left {
        width: 132px;
        height: 90px;
        margin-top: 9px;
        margin-left: 10px;
        z-index: 1;
        transform: rotate(10deg);
    }

    .main-header {
        max-width: 654px;
        font-size: 50px;
        font-weight: 500;
        line-height: 1.08;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        text-align: center;
        color: #FFFFFF;
        z-index: 2;
    }

    .hero-central {
        margin-top: 99px;
        position: relative;
    }

    .hero-central:before {
        content: "";
        position: absolute;
        top: 0px;
        left: -1px;
        width: calc(100% + 2px);
        height: calc(100% + -47px);
        border-radius: 571px;
        box-sizing: border-box;
        border: 1px solid transparent;
        background: linear-gradient(to top, white, rgba(255, 255, 255, 0));
        -webkit-mask:
            linear-gradient(white, white) content-box,
            linear-gradient(white, white);
        -webkit-mask-composite: destination-out;
        mask-composite: exclude;
    }

    .hero-img {
        width: 452px;
        height: 702px;
        padding: 23px 17px 17px 17px;
    }

    .hero-card-left {
        width: 279px;
        height: 387px;
        margin-right: 398px;
        margin-top: 659px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;

    }

    .hero-card-text {
        font-family: DM Sans;
        font-size: 14px;
        line-height: 1.28;
        letter-spacing: -0.04em;
        color: #FFFFFF;
        max-width: 222px;
        margin-bottom: 44px;
        max-width: 279px;
    }

    .card-left {
        width: 249px;
        height: 387px;
        background-color: #A4CB66;
        border-radius: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .card-left-header {
        font-family: DM Sans;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: -0.04em;
        color: #FFFFFF;
    }

    .card-left-img {
        width: 200px;
        height: 172px;
    }


    .card-left-text {
        font-family: DM Sans;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.17;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        text-align: center;
        color: #FFFFFF;
        max-width: 155px;
    }

    .hero-card-right {
        width: 281px;
        height: 539px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 399px;
        margin-top: -377px;
    }

    .card-right {
        width: 249px;
        height: 387px;
        background-color: #F5CE13;
        border-radius: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 44px;
    }

    .card-right-header {
        font-family: DM Sans;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: -0.04em;
        color: #FFFFFF;
    }

    .card-right-img {
        width: 162px;
        height: 185px;
    }

    .card-right-text {
        font-family: DM Sans;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.17;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        text-align: center;
        color: #FFFFFF;
        max-width: 155px;
    }

    .card-list {
        width: 266px;
        height: 84px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 8px;
        justify-content: flex-end;
    }

    .card-text {
        font-family: DM Sans;
        font-size: 12px;
        font-weight: 500;
        line-height: 14px;
        letter-spacing: -0.04em;
        text-align: center;
        color: #FFFFFF;
        text-transform: uppercase;
        box-shadow: 0px 4px 70px 0px #0000001A;

    }

    .card-list-org {
        width: 125px;
        height: 38px;
        padding: 12px 32px 12px 32px;
        border-radius: 19px;
        border: 1px solid #FFFFFF;
    }

    .card-list-pro {
        width: 133px;
        height: 38px;
        padding: 12px 32px 12px 32px;
        border-radius: 19px;
        border: 1px solid #FFFFFF;
    }

    .card-list-bas {
        width: 115px;
        height: 38px;
        padding: 12px 32px 12px 32px;
        border-radius: 19px;
        border: 1px solid #FFFFFF;
    }

    .card-list-fru {
        width: 110px;
        height: 38px;
        padding: 12px 32px 12px 32px;
        border-radius: 19px;
        border: 1px solid #FFFFFF;
    }

}


@media (min-width: 1280px) {

    .hero .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-text {
        margin-top: -787px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center
    }

    .hero-img-right {
        width: 120px;
        height: 120px;
        margin-top: -221px;
        margin-left: 691px;
        z-index: 1;
    }

    .hero-img-left {
        width: 183px;
        height: 124px;
        margin-top: 30px;
        margin-left: 25px;
        z-index: 1;
        transform: rotate(10deg);
    }

    .main-header {
        max-width: 842px;
        font-size: 64px;
        font-weight: 500;
        line-height: 1.0;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        text-align: center;
        color: #FFFFFF;
        z-index: 2;
    }

    .hero-central {
        margin-top: 102px;
        position: relative;
    }

    .hero-central:before {
        content: "";
        position: absolute;
        top: 1px;
        left: 0px;
        width: calc(100% + 1px);
        height: calc(100% + -49px);
        border-radius: 571px;
        box-sizing: border-box;
        border: 1px solid transparent;
        background: linear-gradient(to top, white, rgba(255, 255, 255, 0));
        -webkit-mask:
            linear-gradient(white, white) content-box,
            linear-gradient(white, white);
        -webkit-mask-composite: destination-out;
        mask-composite: exclude;
    }

    .hero-img {
        width: 452px;
        height: 702px;
        padding: 20px 17px 20px 17px;
    }


    .hero-card-left {
        width: 249px;
        height: 539px;
        margin-right: 864px;
        margin-top: 87px;
    }

    .hero-card-text {
        font-size: 14px;
        line-height: 1.28;
        letter-spacing: -0.04em;
        color: #FFFFFF;
        max-width: 222px;
        margin-bottom: 44px;
    }

    .card-left {
        width: 249px;
        height: 387px;
        background-color: #A4CB66;
        border-radius: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .card-left-header {
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: -0.04em;
        color: #FFFFFF;
    }

    .card-left-img {
        width: 200px;
        height: 172px;
    }

    .card-left-text {
        font-size: 12px;
        font-weight: 500;
        line-height: 1.17;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        text-align: center;
        color: #FFFFFF;
        max-width: 155px;
    }

    .hero-card-right {
        width: 249px;
        height: 539px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-left: 864px;
        margin-top: -605px;
    }

    .card-right {
        width: 249px;
        height: 387px;
        background-color: #F5CE13;
        ;
        border-radius: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 44px;
    }

    .card-right-header {
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: -0.04em;
        color: #FFFFFF;
    }

    .card-right-img {
        width: 162px;
        height: 185px;
    }

    .card-right-text {
        font-size: 12px;
        font-weight: 500;
        line-height: 1.17;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        text-align: center;
        color: #FFFFFF;
        max-width: 155px;
    }

    .card-list {
        width: 266px;
        height: 84px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 8px;
        justify-content: flex-end;
    }

    .card-text {
        font-size: 12px;
        font-weight: 500;
        line-height: 14px;
        letter-spacing: -0.04em;
        text-align: center;
        color: #FFFFFF;
        text-transform: uppercase;
        box-shadow: 0px 4px 70px 0px #0000001A;
    }

    .card-list-org {
        width: 125px;
        height: 38px;
        padding: 12px 32px 12px 32px;
        border-radius: 19px;
        border: 1px solid #FFFFFF;
    }

    .card-list-pro {
        width: 133px;
        height: 38px;
        padding: 12px 32px 12px 32px;
        border-radius: 19px;
        border: 1px solid #FFFFFF;
    }

    .card-list-bas {
        width: 115px;
        height: 38px;
        padding: 12px 32px 12px 32px;
        border-radius: 19px;
        border: 1px solid #FFFFFF;
    }

    .card-list-fru {
        width: 110px;
        height: 38px;
        padding: 12px 32px 12px 32px;
        border-radius: 19px;
        border: 1px solid #FFFFFF;
    }
}

/*========END-HERO========*/


/* === END-PROJECT-Fresh-Harvest-Box===   */